<div class="row">

    <ul *ngIf="orders.length>0" class="list-group">

        <li *ngFor="let item of orders;let i=index;" class="list-group-item">


            <small> <small style="color:blue">productName:</small> {{item?.productName}} </small> ,
            <small> <small style="color:red">productPrice:</small> {{item?.productPrice}} </small>,
            <small> <small style="color:blue">productQuantity:</small> {{item?.quantity}} </small>,
            <small> <small style="color:red">totalPrice:</small> {{item?.totalPrice}} </small>,




            <small>
                <button (click)="onIncrease(i)" type="button">
                    increase
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-plus" viewBox="0 0 16 16">
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </button>
            </small>


            <small>
                <button (click)="onDecrease(i)" type="button">
                    decrease
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-dash" viewBox="0 0 16 16">
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
                    </svg>
                </button>
            </small>
        </li>

    </ul>
</div>



<app-order-details [orderDetailsFormorder]="orders">

</app-order-details>