<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label [class.text-danger]="productName?.touched && productName?.invalid" for="productname"
            class="form-label">product name </label>
        <input [class.is-invalid]="productName?.touched && productName?.invalid" type="text"
            formControlName="productName" class="form-control" id="productname">
        <small class="text-danger" *ngIf="productName?.touched && productName?.errors?.['required']">required</small>
    </div>

    <div class="mb-3">
        <label [class.text-danger]="productPrice?.touched && productPrice?.invalid" for="productprice"
            class="form-label">
            product price </label>
        <input [class.is-invalid]="productPrice?.touched && productPrice?.invalid" type="number"
            formControlName="productPrice" class="form-control" id="productprice">
        <small class="text-danger" *ngIf="productPrice?.touched && productPrice?.errors?.['required']">required</small>

    </div>

    <div class="mb-3">
        <label [class.text-danger]="imgUrl?.touched && imgUrl?.invalid" for="productImage" class="form-label">
            photo</label>

        <input [class.is-invalid]="imgUrl?.touched && imgUrl?.invalid" type="file" (change)="onChangeFile($event)"
            formControlName="imgUrl" class="form-control" id="productImage">
        <small class="text-danger" *ngIf="imgUrl?.touched && imgUrl?.errors?.['required']">required</small>

    </div>




    <button [disabled]="productForm?.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>