<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">

        <label [class.text-danger]="userName?.touched && userName?.invalid" for="exampleInputEmail1"
            class="form-label">User Name</label>
        <input [class.is-invalid]="userName?.touched && userName?.invalid" type="text" formControlName="userName"
            class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        <small *ngIf="userName?.touched && userName?.errors?.['required']" class="text-danger">required</small>
    </div>

    <div class="mb-3">
        <label [class.text-danger]="password?.touched && password?.invalid" for="exampleInputPassword1"
            class="form-label">Password</label>
        <input [class.is-invalid]="password?.touched && password?.invalid" type="password" formControlName="password"
            class="form-control" id="exampleInputPassword1">
        <small *ngIf="password?.touched && password?.errors?.['required']" class="text-danger">required</small>

    </div>

    <button [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
</form>